@charset "UTF-8";
 .container{
     padding-left: 0px;
   }
	table {
		margin: 0 auto;
	}
	
	th, td {
		width: 110px;
		text-align: center;
	}
	
	th:nth-child(3) {
		width: 150px;
	}
	
	th:nth-child(4) {
		width: 200px;
	}
	
	a, a:visited{
		color : blue;
	}
	a:hover{
		color:red;
	}