@charset "UTF-8";

.container {
	padding-left: 0px;
}

table {
	margin: 0 auto;
}

th {
	width: 250px;
}

td {
	text-align: left;
	width: 450px;
	padding-left: 10px;
}

input {
	width: 120px;
	height: 30px;
	line-height: 30px;
	padding-left: 3px;
}

tr:nth-child(3) input {
	width: 160px;
}

tr:nth-child(4) input {
	width: 200px;
}

.btn {
	text-align: center;
	height: 50px;
	line-height: 50px;
}